{
  "extends": "@rentpath/eslint-config-rentpath",
  "parser": "babel-eslint",
  "rules": {
    "global-require": 0,
    "prefer-arrow-callback": 0,
    "no-unused-expressions": 0,
    "no-bitwise": ["error", { "allow": ["~"] }]
  },
  "plugins": [
    "babel"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "test"]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  }
}
